*{
    font-family: Arial, Helvetica, sans-serif;
}


.logo {
    width: 100%;
    height: 70px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
   
}
.logo img{ 
    width:50px; 
    height:50px; 
}

.logo h3{
    margin-left:10px; 
    font-size: x-large;
    color:#463939; 
    font-family: Arial, Helvetica, sans-serif;   
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1200px;
    min-width: 300px;
    border-bottom: #8e8b8b;
    border-bottom-style: ridge;
    border-width: 1px;
}

.headerSignIn{
    height: 65px;
}

main{
    display:flex; 
    flex-direction: column;
    margin-left: 80px;
    margin-top: 30px;
}

.botones{
    max-width:500px;
    height: 50px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.Ico{
    height:20px;
    width:20px; 
    margin:2px;
}

button{
    height: 30px; 
    border-radius: 6px;
    font-size: small;
    margin-left: 10px;
}

.botones a{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color:white;
    text-decoration: none;
}
.btFacebook{
    width: 200px;
    background-color: rgb(57, 86, 151);
    margin-left: 0;
}

.btGoogle{
    Width:170px; 
    background-color: rgb(23,107, 239);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
}

.email form{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.lbLogin{
    font-weight: bold;
    color:#463939; 
    margin-top: 5px;
    margin-bottom: 5px;
}
.login{
    height:25px; 
    width:350px; 
}

.checkBoxAcept{
 display:flex;
 margin-top: 20px;

}

.acepto{
    width:15px
   
}
.lbAcepto{
    margin-top: 4px;
}

span{
    color:blue; 
}


.createAccount{
  border-radius: 50px;
  width:150px; 
  height:40px; 
  margin-top:10px; 
  border-style: dashed;
  border-color: #8e8b8b;
  color:#8e8b8b
}

